<h2>My <%= @list.name %> list</h2>
<%= simple_form_for([@list, @bookmark], as: :bookmark, method: :post, url: list_path(@list)) do |f| %>
  <%= f.association :movie, prompt: "Select a movie", select: :title %>
  <%= f.input :comment %>
  <%= f.submit 'Add a movie', list_bookmarks_path(@list) %>
<% end %>

<ul>
<% @list.movies.each do |movie| %>
  <li><%= movie.title %></li>
<% end %>
</ul>
